* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #333;

    .header-logo {
        img {
            height: 50px;
        }
    }

    .header-menu {
        float: right;
        border: 1px solid white;
        padding: 10px;
        margin: 10px;
        color: white;
    }

    .header-nav {
        border: 1px solid #ccc;
        text-align: center;
        font-family: Roboto, Arial;
        text-transform: uppercase;
        display: none;

        ul {
            list-style: none;

            li {
                padding: 10px;

                a {
                    color: #ccc;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}

.banner-mobile {
    background: url(/images/4k-pc-8dxv1c1kpj1bsvde.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 35px;

    img {
        width: 100%;
    }

    .img {
        margin: 20px;
        width: 80%;
    }
    a {
       z-index: 2;
       position:relative;
       bottom: 50px;
    }
}

.btn {
    background: linear-gradient(to right, red, rgb(92, 12, 12));
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: all 1s;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(to left, red, rgv(92, 12, 12));
}

.flex {
    display: flex;

    .col {
        text-align: center;
    }
}

h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    color: #333;
    margin: 30px 0;
}

.quadrinhos {
    .flex {
        display: block;

        .col {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

p {
    font-family: Roboto, Arial;
    margin: 20px 0;
}

.noticias {
    border-color: #f1f1f1;
    padding: 30px 0;

    .flex {
        display: block;

        .col {
            border-bottom: 5px solid #ccc;
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 480px) {

    .header {
        .header-menu {
            display: none;
        }

        .header-nav {
            display: block;
            float: right;
            border: 0;

            ul {
                li {
                    display: inline-block;

                    a {
                        padding: 10px;
                        display: block;
                    }

                    a:hover {
                        color: white;
                        border-bottom: 5px solid red;
                    }
                }
            }
        }
    }

    .banner-mobile {
        display: none;
    }

    .banner-desktop {
        display: block;
        background: url(../images/banner.jpg) center;
        width: 100%;
        height: 500px;

        .flex {
            .col {
                padding: 50px;

                p {
                    margin: 50px;
                }
            }
        }
    }

    .quadrinhos,
    .noticias {
        .flex {
            display: flex;

            .col {
                padding: 10px;
            }
        }
    }

    .noticias {
        .flex {
            .col {
                margin: 10px
            }
        }
    }
}