* {
  margin: 0;
  padding: 0;
}
main {
  background-color: rgb(77, 84, 124);
  background-image: url("fundo.avif");
  background-attachment: fixed;
}
body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding-left: 20px;
  padding-right: 15px;
  background-color: rgb(19, 16, 16);
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        height: 100px;
        padding-top: 5px;
      }
      img:hover {
        scale: 1.15;
        transition: 300ms;
      }
    }
  }
  .navLink {
    display: flex;
    gap: 30px;
    align-items: center;

    li:hover {
      scale: 1.1;
      transition: 300ms;
    }
    li {
      font-size: 20px;
      font-weight: bolder;
      list-style: none;

      a {
        text-decoration: none;
        color: white;
        padding: 8px;
        text-transform: uppercase;
      }
      .bgHover:hover {
        color: rgb(255, 0, 0);
        background-color: rgb(173, 167, 167);
        border-radius: 8px;
      }
    }
  }
}

.jogar {
  background-color: red;
  padding: 8px;
  border-radius: 8px;
}

img {
  width: 100%;
  height: 100%;
}
section.sobre {
  text-align: center;
  .bnt {
    background-color: rgb(0, 255, 221);
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
  }
}
section.banner {
  background-color: rgb(219, 70, 70);
  background-image: url("fundo.avif");
  background-attachment: fixed;
}
section.historia {
  div.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-style: italic;
  
  }
  div.col {
    width: 100%;
    margin: 0px;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    border-radius: 2px;
    border-color: ;
  }
  p.center {
    font-size: 1.3em;
    font-family: arial;
    padding: 10px;
  }
  .bnt {
    background-color: rgb(0, 255, 221);
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
  }
}
section.banner {
    .img{
    
    }
}
